<FilesMatch "^poptavka-config">
  Require all denied
</FilesMatch>
RewriteEngine On
RewriteRule ^nase\-sluzby/?$ /sluzby.html [R=301,L]
RewriteRule ^cenik\-sluzeb/?$ /cenik.html [R=301,L]
RewriteRule ^neco\-o\-nas/?$ /o-nas.html [R=301,L]
RewriteRule ^cisteni\-kobercu\-a\-sedacek/?$ /cisteni-kobercu-a-calouneni.html [R=301,L]
RewriteRule ^foto/?$ /reference.html [R=301,L,NE]
RewriteRule ^fotogalerie/?$ /reference.html [R=301,L,NE]
RewriteRule ^recenze/?$ /reference.html [R=301,L]
RewriteRule ^kontakt/?$ /kontakt.html [R=301,L]
RewriteRule ^rychla\-poptavka/?$ /kontakt.html [R=301,L]
RewriteRule ^rychla\-poptavka\-cisteni/?$ /kontakt.html [R=301,L]
RewriteRule ^kariera/?$ /kariera.html [R=301,L]
RewriteRule ^nabidka\-brigady/?$ /kariera.html [R=301,L]
RewriteRule ^nabidka\-prace/?$ /kariera.html [R=301,L]
RewriteRule ^gdpr/?$ /ochrana-udaju.html [R=301,L]
RewriteRule ^zasady\-cookies\-eu/?$ /ochrana-udaju.html [R=301,L]
